<p id="notice"><%= notice %></p>
<div class="row">
<div class="col s6">
	<h5>
		Campaign:
		<%= @campaign.name %>
	</h5>
</div>
<div class="col s6">
	<h5>
		Uncounted Votes:
		<%= @campaign.errors_count %>
	</h5>
</div>
</div>
<table class="striped">
	<thead>
	<tr>
		<th>Candidates</th>
		<th>Votes</th>
	</tr>
	</thead>

	<tbody>
	<% @candidates.each do |candidate| %>
			<tr>
				<td><%= candidate.name %></td>
				<td><%= candidate.votes.count %></td>
			</tr>
	<% end %>
	</tbody>
</table>
</div>
</div>
